{% extends 'base_authentication.html' %}
{% load static %}
{% block title %}
  Sign Up
{% endblock %}

{% block content %}
<div class="signup-div card shadow-lg p-3 mt-4">
  {{ msg }}
  {% load crispy_forms_tags %}
  {% if request.path == "/" %}
    <div>
      <h2>Admin Sign Up</h2>
    </div>
    <form action="{% url 'admin-signup' %}" method="post">
      {% csrf_token %}
      {{ form |crispy }}
      <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
    <span>If you are already registered, <a href="{% url 'admin-login' %}">click here to login</a>.</span>

  {% elif request.path == "/student/"  %}
    <div>
      <h2>Student Sign Up</h2>
    </div>
    <form action="{% url 'student-signup' %}" method="post">
      {% csrf_token %}
      {{ form |crispy }}
      <button class="btn btn-success" type="submit">Sign Up</button>
    </form>
    <span>If you are already registered, <a href="{% url 'student-login' %}">click here to login</a>.</span>
  {% endif %}
  </div>
{% endblock %}